set timeout=5
tile=pxe

menuentry 'DairyOS Debian Installer - automated' {
  linux /dairyos-pxe/linux auto=true priority=critical preseed/url=http://192.168.50.1/dairyos/dairyos.seed netcfg/disable_autoconfig=false
  initrd /dairyos-pxe/initrd.gz
}

menuentry 'DairyOS Debian Installer - manual' {
  linux /dairyos-pxe/linux
  initrd /dairyos-pxe/initrd.gz
}
